**/__pycache__/
**/node_modules/
.venv/
**/queue.txt
**/rust/**/target/
**/site*.html
**/data_*/*.db/
logs/*
!logs/.gitkeep
run/*
!run/.gitkeep
**/data_*/sonic/**/
**.nimcache
vendor/**/
docker/
!docker/*Dockerfile*
**data/**/cache
**data/**/sonic/*
**data/proxies/*.txt
**data/proxies/pbproxies.json
**data/sites/*
**data/ads/
**data/config
**data/google/*
!data/ads/.gitkeep
**data/assets/
!data/assets/.gitkeep
data.debug/

# Added by cargo

/target
Cargo.lock
data_*/topics/
# !site
# dist/*
# !dist
/.log/
data_*/*
/data_*/cache/
data_*/proxies/*
!data_*/proxies
/src/nim/test.nim
/src/py/test.py
/old/
/wsl_data.zip
/wsl-cli
/supervisord.pid
/data/topics-blacklist.txt
/valgrind-out.txt
/config/*
!/config/sites.json
!/config/sites/dev.toml
!/config/misc.toml
!/config/supervisord_sites_tasks.conf
!/config/supervisor.conf
/src/css/colors/*
!/src/css/colors/template.scss
/config/logo/*
!/config/logo
!/config/logo/example
!/config/logo/.gitkeep
replace.txt
README_local.org
