**/__pycache__/
**/node_modules/
.venv/
**/queue.txt
**/rust/target/
**/site*.html
**/data/*.db/
logs/*
!logs/.gitkeep
run/*
!run/.gitkeep
**/data/sonic/**/
**.nimcache
vendor/**/
docker/
!docker/*Dockerfile*

# Added by cargo

/target
Cargo.lock
data/topics/
# !site
# dist/*
# !dist
/.log/
data/*
/data/cache/
data/proxies/*
!data/proxies
/src/nim/test.nim
/src/py/test.py
/old/
