# APT dependencies: libcurl4-openssl-dev
# parsing
pyyaml
bs4
git+https://github.com/html5lib/html5lib-python@master  # for python3.10 use latest
html-parser
lxml
feedparser
feedfinder2
lassie
spacy
alt-profanity-check
clean-text
deep_translator
git+https://github.com/nidhaloff/deep-translator@master
textblob

# requests
pyssl
pycurl
pysocks
retry
user_agent
zict
# proxy-checker
git+https://github.com/orehunt/proxybroker2@master

# data
google-ads
zarr
# ALPINE distro packages
# py3-numpy
# py3-curl
# HAVE TO BE BUILT
# numcodecs

# for nim
unidecode
langcodes

# sources/articles
trafilatura
goose3
pytrends
git+https://github.com/searx/searx
lingua-language-detector

# tags
pyate
pytextrank
phrasemachine
textacy
rake_nltk

# config
git+https://github.com/untoreh/colors.py
tomli
# not needed...
# textacy

# debug
guppy3
