# parsing
feedparser
feedfinder2
spacy

# requests
pyssl
pycurl
retry
user_agent
zict

# data
zarr
numcodecs
clean-text
unidecode

# sources/articles
news-please
newspaper3k
goose3
pytrends
git+https://github.com/searx/searx

# tags
pyate
pytextrank
phrasemachine

# not needed...
# textacy
