// @use '@material/button/mdc-button';
// @use '@material/button';

@use "@material/theme";
@use "@material/icon-button" as iicbs;
@use "@material/icon-button/styles" as icbs;
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/ripple";

@import "colors.scss";
@import "mixins.scss";

body {
  min-height: 100vh;
  white-space: pre-line;
}

body,
header {
  min-width: 360px;
}

//////////////////////////

.post-title {
  text-align: center;
}

.wsl-logo {
  width: 100%;
}

#app-bar {
  white-space: normal;
}

header,
.title-wrap {
  font-variant: small-caps;
}

body {
  font-family: "Noto Serif";
  margin: 0;
  font-size: 1.25rem;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.post-content {
  font-family: "Noto Serif";
}

main {
  padding: 1rem;
  flex: auto;
  max-width: 800px;
  margin: auto;
  word-wrap: break-word;
  width: calc(90vw - 2rem);
}
main,
footer {
  & a:hover {
    filter: brightness(1.5);
  }
}

.post-footer {
  text-align: right;
  padding: 1rem;
  font-size: 0.9rem;
  display: block;
}

.page-crumbs {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.5rem;
  span {
    width: calc(50% - 1rem);
  }
  .prev-page {
    text-align: left;
  }
  .next-page {
    text-align: right;
  }
}

.title-wrap blockquote {
  font-style: italic;
  font-variant: none;
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}

.title-wrap > .image-link {
  text-decoration: none;
  margin: auto;
  display: block;
  text-align: center;
  & img {
    display: inline-block;
    padding: 1rem;
    max-width: 100%;
    font-size: 12rem;
    box-shadow: var(--mdc-theme-primary) 0 0 2px;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
  }
}

.post-info,
.post-info * {
  display: flex;
  flex: auto;
}

.social-share {
  vertical-align: middle;
  padding: 0.5rem;
  background: var(--mdc-theme-primary);
  border-radius: 4px 0 0 4px;
  display: inline-block;
  & a {
    text-decoration: none;
    text-align: center;
    & button {
      display: block;
    }
  }
}

.post-source {
  background: var(--mdc-theme-primary);
  border-radius: 0 4px 4px 0;
  padding: 0.5rem;
  & a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    & img {
      max-width: 2rem;
      max-height: 2rem;
      text-decoration: none;
      text-align: center;
      display: inline;
      vertical-align: middle;
      padding: 0 0.5rem;
    }
  }
}
footer {
  padding: 0.25rem 1rem 0.25rem 1rem;
  white-space: normal;
}

.site-footer {
  font-family: Times;
  font-size: 0.9rem;
}

.footer-copyright {
  font-family: Times;
  padding: 1rem 0 0 0.25rem;
  & a {
    margin-left: 1rem;
  }
}

.footer-links {
  font-size: 1.5rem;
  font-variant: all-petite-caps;
}

.footer-links > a {
  padding: 0 0.25rem 0 0.25rem;
}

.mdc-ripple-button {
  position: relative;
}

.mdc-ripple-surface {
  // parent selectors only at the top
  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states;
  width: 100%;
  height: 100%;
  position: absolute;
}

.social-share .mdc-icon-button {
  @include iicbs.size(32px);
}

.search-input {
  width: calc(100% - 3.25rem);
  height: 100%;
  line-height: 100%;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border-style: none;
  box-shadow: var(--mdc-theme-on-surface) 0px 0px 1px;
}

.search-input:focus::placeholder {
  color: transparent;
}

.app-bar-logo img {
  width: 100%;
  height: 100%;
}
.dark .app-bar-logo {
  .logo-light-wrap {
    display: none;
  }
}
.light .app-bar-logo {
  .logo-dark-wrap {
    display: none;
  }
}

.menu-list {
  display: block;
  position: fixed;
  z-index: 1;
  left: -100vh;
  height: 100%;
  background-color: var(--mdc-theme-primary);
  list-style: none;
  @include border-style;
  padding: 0.25rem;
  & a {
    font-variant: small-caps;
  }
  & label {
    padding: 24px;
  }
  & .search-input {
    width: 6rem;
    padding-left: 2rem;
  }
  & .search-field {
    padding: 0;
  }
  & .search-icon {
    position: relative;
    top: -2.5rem;
    left: 0.5rem;
    color: var(--mdc-theme-on-primary);
  }
}

.entry {
  float: left;
  width: 100%;
  white-space: normal;
  hr {
    margin: 3rem 0 3rem 0;
    float: right;
    width: 100%;
  }
}

.menu-list-entry {
  display: flex;
  & i {
    padding: 0 0.5rem 0 0;
  }
  margin: 0 0 1rem 0;
}

header .page {
  padding: 0 1rem 0 1rem;
}

.material-icons {
  font-variant: none;
}
.entry-title {
  margin-bottom: 0.5rem;
}
.entry-info {
  font-size: 0.9rem;
  text-shadow: black 0 0 0.1px;
  margin-bottom: 1rem;
  float: left;
}
.entry .image-link {
  float: left;
  padding: 0.5rem;
  img {
    max-width: 20rem;
    min-width: 8rem;
    object-fit: fill;
    border-radius: 0.75rem;
    padding: 0.5rem;
    font-size: 10rem;
    line-height: 8rem;
  }
}
.entry-tags {
  font-size: 0.9rem;
  text-align: right;
  margin-bottom: 1rem;
  margin-top: 1rem;
  & .entry-tag-name {
    border: dotted;
    border-width: 2px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    display: inline-flex;
    margin-top: 4px;
    & i {
      font-size: 1rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.app-bar-topics {
  display: none;
  padding: 0 1rem 0 1rem;
  min-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  & .topic-item {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
    color: var(--mdc-theme-on-primary);
    font-weight: bold;
    position: relative;
    width: 100%;
    line-height: 2rem;
    & a {
      display: block ruby;
      height: calc(100% - 1rem);
      padding: 0.5rem;
      font-family: Noto Serif;
      font-variant: simplified;
      font-size: 1.25rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    & .separator {
      height: 100%;
      width: 0;
      border-right: 1px solid;
      position: absolute;
      top: 0;
      right: 0;
      border-color: var(--mdc-theme-on-secondary);
    }
  }
}

section[role="toolbar"] {
  min-width: 18rem;
}

.menu-list-topics {
  padding: 0;
  text-align: center;
  & .menu-topic-item {
    display: grid;
    vertical-align: middle;
    padding: 0;
    border-top: 1px dotted var(--mdc-theme-surface);
    a {
      position: relative; // for tooltips positioning
      width: 100%;
      padding-top: 0.25rem;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

[dir="rtl"] .search-suggest {
  left: 0;
  & li a {
    padding-right: 1rem;
    padding-left: 0;
  }
}
form.search {
  position: relative;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0;
  max-width: 20rem;
  & button {
    float: right;
  }
  & .clear-search-btn {
    position: absolute;
    right: 3.25rem;
  }
  .search-suggest {
    color: black;
    list-style: none;
    margin: 0;
    margin-top: 2px;
    width: calc(100% - 3.25rem);
    position: absolute;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: var(--mdc-theme-on-primary) 0px 0px 1px;
    padding: 0;
    font-variant: initial;
    & li {
      height: 2rem;
      line-height: 2rem;
      &:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
      }
      & a {
        height: 100%;
        line-height: 2rem;
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }
}
.related-posts {
  display: flex;
  padding: 0;
  font-style: italic;
  margin-top: 2rem;
  position: relative;
  &:before {
    content: "Related Articles";
    position: absolute;
    left: 0;
    top: -2rem;
  }
  & li {
    font-style: normal;
    display: inline-block;
    width: calc(33% - 1rem);
    position: relative;
    margin: 0 0.25rem;
    & img {
      // width: calc(100% - 1rem);
      border-style: inset;
      border-radius: 2px;
      object-fit: fill;
      width: calc(100% - 6px);
      height: 100%;
    }
    // text ellipsis on 3rd line
    & a:nth-child(2) {
      width: calc(100% - 1rem);
      background-color: var(--mdc-theme-secondary);
      opacity: 0.9;
      padding: 0.5rem;
      color: var(--mdc-theme-on-surface);
      bottom: -0.5rem;
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 5rem;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-height: 1.6rem;
    }
  }
}

@import "responsive.scss";
@import "flags-sprite.css";
@import "lang.scss";
