// @use '@material/button/mdc-button';
// @use '@material/button';

@use "@material/theme";
@use "@material/icon-button" as iicbs;
@use "@material/icon-button/styles" as icbs;
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/ripple";

@import "colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,300;0,700;1,100;1,300&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Petrona:ital,wght@0,400;0,800;1,100;1,400&display=swap");

body {
  min-height: 100vh;
}

body,
header {
  min-width: 360px;
}

//////////////////////////

.post-title {
  text-align: center;
}

.wsl-logo {
  width: 100%;
}

header,
.title-wrap {
  font-variant: small-caps;
}

body {
  font-family: "Noto Serif";
  margin: 0;
  font-size: 1.25rem;
  display: flex;
  flex-flow: column;
  height: 100%;
}

main {
  padding: 1rem;
  flex: auto;
  max-width: 800px;
  margin: auto;
}

.post-footer {
  text-align: right;
  padding: 1rem;
  font-size: 0.9rem;
}

.title-wrap blockquote {
  font-style: italic;
  font-variant: none;
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}

.title-wrap > .image-link {
  text-decoration: none;
  position: relative;
  left: calc(50% - 7rem);
  & img {
    margin: auto;
    display: inline-block;
    padding: 1rem;
    max-width: 100%;
    font-size: 12rem;
    box-shadow: var(--mdc-theme-primary) 0 0 2px;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
  }
}

.post-info,
.post-info * {
  display: flex;
  flex: auto;
}

.social-share {
  vertical-align: middle;
  padding: 0.5rem;
  background: var(--mdc-theme-primary);
  border-radius: 4px 0 0 4px;
  height: 100%;
  & a {
    text-decoration: none;
    text-align: center;
    & button {
      display: block;
    }
  }
}

.post-source {
  background: var(--mdc-theme-primary);
  border-radius: 0 4px 4px 0;
  padding: 0.5rem;
  height: 100%;
  & img {
    max-width: 2rem;
    max-height: 2rem;
    padding: 0 1rem 0 1rem;
  }
}
footer {
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.site-footer {
  font-family: Times;
  font-size: 0.9rem;
}

.footer-copyright {
  font-family: Times;
  padding: 1rem 0 0 0.25rem;
}

.footer-links {
  font-size: 1.5rem;
  font-variant: all-petite-caps;
}

.footer-links > a {
  padding: 0 0.25rem 0 0.25rem;
}

.mdc-ripple-surface {
  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states;
}

.social-share .mdc-icon-button {
  @include iicbs.size(32px);
}

.search-input {
  width: 15rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  text-align: center;
}

.search-input:focus::placeholder {
  color: transparent;
}

.dark .app-bar-logo {
  .logo-light-wrap {
    display: none;
  }
}
.light .app-bar-logo {
  .logo-dark-wrap {
    display: none;
  }
}

.menu-list {
  display: block;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  left: -100vh;
  height: 100vh;
  background-color: var(--mdc-theme-primary);
  list-style: none;
  border-radius: 0px 1rem 1rem 0px;
  padding: 1rem;
  & a {
    text-decoration: none;
    font-variant: small-caps;
  }
  & label {
    padding: 24px;
  }
  box-shadow: var(--mdc-theme-primary) 0 -4px 2px;
  & .search-input {
    width: 6rem;
    padding-left: 2rem;
  }
  & .search-field {
    padding: 0;
  }
  & .search-icon {
    position: relative;
    top: -2.5rem;
    left: 0.5rem;
    color: var(--mdc-theme-on-primary);
  }
}

.menu-list-entry {
  display: flex;
  & i {
    padding: 0 0.5rem 0 0;
  }
  margin: 0 0 1rem 0;
}

header .page {
  padding: 0 1rem 0 1rem;
}

.material-icons {
  font-variant: none;
}

.entry-title {
  margin-bottom: 0.5rem;
}
.entry-info {
  font-size: 0.9rem;
  color: var(--text-secondary-on-dark);
  text-shadow: black 0 0 0.1px;
  margin-bottom: 1rem;
  float: left;
}
.entry-image {
  float: left;
}
.entry-tags {
  font-size: 0.9rem;
  text-align: right;
  color: var(--mdc-theme-on-primary);
  margin-bottom: 1rem;
  margin-top: 1rem;
  & .entry-tag-name {
    border: dotted;
    border-width: 2px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 4px;
  }
}

@import "responsive.scss";
