:root {
  --primary: #eb921c;
  --light-primary: #ffc351;
  --dark-primary: #b36400;

  --secondary: #0e2837;
  --light-secondary: #385061;
  --dark-secondary: #02020d;

  --on-primary: var(--secondary);
  --on-secondary: var(--primary);

  --text-primary-on-light: #000014;
  --text-secondary-on-light: var(--dark-secondary);

  --text-primary-on-dark: #c1f56a;
  --text-secondary-on-dark: var(--light-secondary);

  --background: #ffb574;
  --surface: #0b1619;

  --light-on-primary: var(--on-primary);
  --light-on-secondary: var(--on-secondary);

  --dark-on-primary: var(--on-primary);
  --dark-on-secondary: var(--on-secondary);

  --light-background: #ffe7a4;
  --light-on-background: var(--dark-background);

  --dark-background: #02020d;
  --dark-on-background: var(--light-background);

  --light-surface: var(--light-secondary);
  --light-on-surface: var(--light-on-secondary);

  --dark-surface: var(--dark-secondary);
  --dark-on-surface: var(--dark-on-secondary);
}

@mixin mdc-light {
  --mdc-theme-primary: var(--light-primary);
  --mdc-theme-secondary: var(--light-secondary);
  --mdc-theme-surface: var(--light-surface);
  --mdc-theme-on-primary: var(--light-on-primary);
  --mdc-theme-on-secondary: var(--light-on-secondary);
  --mdc-theme-on-surface: var(--light-on-surface);
  // background: var(--light-background);
  background: white;
}

@mixin mdc-dark {
  --mdc-theme-primary: var(--secondary);
  --mdc-theme-secondary: var(--dark-secondary);
  --mdc-theme-surface: var(--dark-surface);
  --mdc-theme-on-primary: var(--primary);
  --mdc-theme-on-secondary: var(--dark-on-secondary);
  --mdc-theme-on-surface: var(--dark-on-surface);
  // background: var(--dark-background);
  background: #02020d;
}

body {
  &.dark {
    @include mdc-dark;
  }
  &.light {
    @include mdc-light;
  }
}

@mixin dark {
  body {
    @include mdc-dark;
  }
  main {
    // background: var(--dark-background);
    background: #02020d;
    color: var(--text-primary-on-dark);
  }
  a {
    color: var(--light-primary);
  }
  a:visited {
    color: var(--dark-primary);
  }
  footer {
    background: var(--secondary);
    color: var(--text-primary-on-dark);
  }
  .search-input {
    color: var(--primary);
    background: var(--surface);
    border-color: var(--light-secondary);
  }
  .search-suggest {
    background: var(--text-secondary-on-dark);
    color: var(--text-primary-on-dark);
    & li:hover,
    li.selected {
      background: var(--text-primary-on-light);
    }
  }
}

@mixin light {
  body {
    @include mdc-light;
  }
  main {
    // background: var(--light-background);
    background: white;
    color: var(--text-secondary-on-light);
  }
  a {
    color: var(--secondary);
  }
  a:visited {
    color: var(--text-primary-on-light);
  }
  footer {
    background: var(--light-primary);
    color: var(--text-primary-on-light);
  }
  .search-input {
    color: var(--secondary);
    background: var(--light-background);
    border-color: var(--light-background);
  }
  .search-suggest {
    background: var(--background);
    color: var(--text-primary-on-light);
    & li:hover,
    li.selected {
      background: var(--mdc-theme-on-secondary);
    }
  }
}

.dark {
  @include dark;
}

.light {
  @include light;
}

@media (prefers-color-scheme: dark) {
  @include dark;
}

@media (prefers-color-scheme: light) {
  @include light;
}

header {
  box-shadow: var(--light-secondary) 0 1px 2px;
}
footer {
  box-shadow: var(--light-secondary) 0 -1px 2px;
}

.menu-list button {
  color: var(--mdc-theme-on-primary);
}

// .mdc-tooltip {
//   @include tooltip.fill-color(var(--light-primary));
//   @include tooltip.label-ink-color(var(--light-on-primary));
//   font-variant: none;
//   white-space: normal;
//   width: 10rem;
//   @include tooltip.word-break(break-word, break-all);
// }

// .mdc-text-field--label-floating {
//   @include textfield.label-color(var(--mdc-theme-on-primary));
// }
