@mixin border-style {
    border: solid;
    border-color: var(--mdc-theme-secondary);
    border-width: 1px;
    box-shadow: 0px 0px 4px var(--mdc-theme-secondary);
}

@mixin width-available {
    width: -moz-available;
    width: -webkit-fill-available;
}
