@mixin border-style {
  border: solid;
  border-color: var(--mdc-theme-secondary);
  border-width: 1px;
  box-shadow: 0px 0px 4px var(--mdc-theme-secondary);
}

@mixin width-available {
  width: -moz-available;
  width: -webkit-fill-available;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fade {
  animation-duration: 1s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@mixin fade-in {
  @include fade;
  animation-direction: alternate;
}
@mixin fade-out {
  @include fade;
  animation-direction: alternate-reverse;
}

@mixin sling-kf($name, $pos-start, $pos-stop, $op-start, $op-stop) {
  @keyframes #{$name} {
    0% {
      opacity: $op-start;
      left: $pos-start;
    }
    100% {
      opacity: $op-stop;
      left: $pos-stop;
    }
  }
}

@mixin sling {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  // animation-timing-function: ease-in-out;
}

@include sling-kf(send, 0%, 50%, 1, 0);
@mixin send {
  @include sling;
  animation-name: send;
}

@include sling-kf(recv, -50%, 0%, 0, 1);
@mixin recv {
  @include sling;
  animation-name: recv;
}

@mixin downloading-loop {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"><path stroke-dasharray="2 4" stroke-dashoffset="6" d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21"><animate attributeName="stroke-dashoffset" dur="0.6s" repeatCount="indefinite" values="6;0"/></path><path stroke-dasharray="30" stroke-dashoffset="30" d="M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.1s" dur="0.3s" values="30;0"/></path><path stroke-dasharray="10" stroke-dashoffset="10" d="M12 8v7.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="10;0"/></path><path stroke-dasharray="6" stroke-dashoffset="6" d="M12 15.5l3.5 -3.5M12 15.5l-3.5 -3.5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.2s" values="6;0"/></path></g></svg>');
}

@mixin circle-x {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"><g fill="none" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" d="M15 15L9 9m6 0l-6 6"/><circle cx="12" cy="12" r="10"/></g></svg>')
}
