// drawer alignment with top app bar
@media (max-width: 599px) {
  .menu-list {
    top: 2.4rem;
  }
}
@media (min-width: 600px) {
  .menu-list {
    top: 2.9rem;
  }
}

@media (max-width: 460px) {
  #app-bar {
    & .search-field,
    .search-btn {
      display: none;
    }
  }
  .app-bar-logo.right {
    display: initial;
  }
  .app-bar-logo.left {
    display: none;
  }
}

@media (min-width: 461px) {
  .app-bar-logo.right {
    display: none;
  }
  .app-bar-logo.left {
    display: initial;
  }
  .menu-list li.search {
    display: none;
  }
}

@media (max-width: 768px) {
  .light .app-bar-logo .logo-light-wrap,
  .dark .app-bar-logo .logo-dark-wrap,
  .menu-btn {
    display: initial;
  }
  .app-bar-logo {
    text-align: center;
    width: auto;
  }
  .app-bar-logo.mdc-icon-button svg {
    width: 4rem;
  }
  header {
    & .page,
    .dk-toggle,
    .trending,
    .translate {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .light .app-bar-logo .logo-light-wrap,
  .dark .app-bar-logo .logo-dark-wrap {
    display: initial;
  }
  .app-bar-logo.mdc-icon-button {
    width: 9rem;
  }
  .app-bar-logo.mdc-icon-button svg {
    width: inherit;
    height: inherit;
    margin: 1rem;
    position: relative;
    top: -0.5rem;
  }
  .menu-btn {
    display: none;
  }
  .app-bar-logo {
    width: 7rem;
    height: 100%;
    padding: 0 1rem 0 1rem;
  }
  .menu-list {
    position: fixed;
    // user important to override js toggling
    left: -100vh!important;
  }
}
