// drawer alignment with top app bar
html {
  overflow-x: hidden;
}
@media (max-width: 599px) {
  .menu-list {
    top: 3.5rem;
  }
  .related-posts {
    display: block;
    & li {
      display: inline-block;
      width: 100%;
      & a:nth-child(2) {
        width: calc(100% - 1rem);
        height: 3rem;
        bottom: 0.5rem;
      }
    }
  }
}
@media (min-width: 600px) {
  .menu-list {
    top: 4rem;
  }
}

@media (max-width: 360px) {
  .right.app-bar-logo {
    display: none;
  }
}

@media (min-width: 361px) and (max-width: 460px) {
  // .search-bar .search-field {
  //   display: flex;
  //   flex-direction: row-reverse;
  // }
  .app-bar-logo.right {
    display: initial;
  }
  .app-bar-logo.left {
    display: none;
  }
}

@media (min-width: 461px) {
  .app-bar-logo.right {
    display: none;
  }
  .app-bar-logo.left {
    display: initial;
  }
}

@media (max-width: 768px) {
  .light .app-bar-logo .logo-light-wrap,
  .dark .app-bar-logo .logo-dark-wrap,
  .menu-btn {
    display: initial;
  }
  .app-bar-logo {
    text-align: center;
    width: auto;
  }
  .app-bar-logo.mdc-icon-button svg {
    width: 4rem;
  }
  header {
    & .page,
    .dk-toggle,
    .trending,
    .translate {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .app-bar-topics {
    display: flex;
  }
  .light .app-bar-logo .logo-light-wrap,
  .dark .app-bar-logo .logo-dark-wrap {
    display: initial;
  }
  .app-bar-logo.mdc-icon-button {
    width: 9rem;
  }
  .app-bar-logo.mdc-icon-button svg {
    width: inherit;
    height: inherit;
    margin: 1rem;
    position: relative;
    top: -0.5rem;
  }
  .menu-btn {
    display: none;
  }
  .app-bar-logo {
    width: 7rem;
    height: 100%;
    padding: 0 1rem 0 1rem;
  }
  .menu-list {
    position: fixed;
    // user important to override js toggling
    left: -100vh !important;
  }
}
